.signbutton{
    padding: 3px 20px;
    border:0px;
    border-radius: 2px;
    box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.25);
    background-color:dodgerblue
}

.startbutton{
    padding: 0px 62px;
    border: 56px;
    border-radius: 6px;
    font-size: 2rem;
    box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.25);
    background-color:dodgerblue;
    color:white;

}

@media only screen and (max-width:320px){
   .startbutton{ padding: 5px 16px;
    font-size: 1.5rem;
   }
}

button:hover{
    
    background-color: rgb(22, 135, 248);
    
    
}
button:active{
    background: rgb(19, 116, 212);
     
    
}