.footer{
    
    margin-top: 20%;
    background-color: blueviolet;
    height:100%;
    

    &_content{
        display:flex;
        flex-wrap: wrap;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 54px;
        padding-left: 42px;

        
    
    }

    
    
        
        
    .fylo{
        
        display:flex;
        justify-content: space-between;
        margin-bottom: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .company{
        
        display:flex;
        justify-content: space-between;
        margin-bottom: auto;
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .support{
        
        display:flex;
        justify-content: space-between;
        margin-bottom: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }    



           

    
    .footer_form{
        padding-left: 40px;
        display:flex;
        flex-direction: column;
        P{
            padding: 3px 6px;
            font-family:$SecondaryFont;
            font-size: 1rem;
            font-weight: 400;
            color: $White;

        }

       
        
    }

    .footer_links-title{
        padding: 11px 36px;
        font-family:$PrimaryFont;
        font-size: 1.3rem;
        font-weight: 700;
        color: $White;
    
    }

    .joinbutton{

        
        font-size: 1.5rem;
        color:white;
        font-family: $SecondaryFont;
        padding: 0px 45px;
        border:0px;
        border-radius: 2px;
        box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.25);
        background-color:hsl(163,95%,43%);
    }
    .joinbutton:hover{
        background-color: rgb(26, 197, 103);
    }

    .joinbutton:active{
        background: #27ae60;

    }
    input::placeholder{
        color: lightgrey;
    }
    
}
input[type="email"]{
    font-size: 1.5rem;
    width: 33%;

}   
    
    @media screen and (max-width: 800px)
    {
        .footer_linkst{
            flex-wrap: wrap;
        }
    }



