.grid_container{
      
    padding-right: 5%;
    padding-left: 5%;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    background-color:white;
    
}





  
  .items{
    padding:40px;
    background-color:blueviolet
}

#item1{
    grid-column: 1/3;
    
}

#item6{
   grid-column: 1/4;


}

#item11{
    grid-area: 5/2/span 2/ span 2;
}

#item16{
    grid-column: 1/span 2;
}

#item18{
    grid-column: 1/span 3;
}
