header{
    padding-right: 7%;
    padding-left: 5%;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 195px;
}
@media only screen and (max-width: 400px){
    header{
        padding-top:20px;
        height:75px;
    }
}





