.intro{
    width : 100%;
    display : flex;
    flex-wrap: wrap-reverse;
    position:relative;
    justify-content: space-around;
    padding-bottom: 145px;

    
    
    &_text{
        h1{
        padding-top: 50px;
        color:$DarkBlue1;
         
        }
    }
}

@media only screen and (max-width:320px){
    .intro{
        padding-bottom: 30px;
    }

    .intro_text h1{
        padding-top: 13px ;
        font-size: 1.2rem;
    }

}